@import "~bootstrap/scss/bootstrap";

body {
    background-color: black;
}

.my_img{
    height: 100px;
    width: 150px;
}

.my_single_img{
    height: 300px;
    width: 350px;
}


.my_container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
}

li{
    list-style: none;
}

label{
    color: white;
}